language: ruby
sudo: false

services:
  - mysql
  - postgresql

rvm:
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - truffleruby-head

services:
  - mysql
  - postgresql

script: "bundle exec rake db:reset test:all"

gemfile:
  - gemfiles/4.2.gemfile
  - gemfiles/4.2.api.gemfile
  - gemfiles/5.0.gemfile
  - gemfiles/5.1.gemfile
  - gemfiles/5.2.gemfile

matrix:
  exclude:
    - rvm: 2.7
      gemfile: gemfiles/4.2.gemfile
    - rvm: 2.7
      gemfile: gemfiles/4.2.api.gemfile
    - rvm: truffleruby-head
      gemfile: gemfiles/4.2.gemfile
    - rvm: truffleruby-head
      gemfile: gemfiles/4.2.api.gemfile
